input, select {
    margin: 5px 0px;
    padding: 30px 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(206, 206, 206, 0.97);
    width: 100%;
    height: 45px;
}

input:active, select:active {
    margin: 5px 0px;
    padding: 30px 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(206, 206, 206, 0.97);
    width: 100%;
    height: 45px;
}

textarea {
    margin: 5px 0px;
    padding: 30px 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(206, 206, 206, 0.97);
    width: 100%;
}


button {
    border-style: none;
    background-color: var(--primary);
    padding: 15px 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all linear 0.3s;
}


button:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.alert-success {
    background-color: rgba(213, 246, 213, 0.78);
    padding: 20px;
    margin: 20px 0px;
    color: green;
    text-align: left;
    border-radius: 8px;
}



/* homepage */
@media only screen and (max-width: 500px) {

}
